.photo-grid {
    display: grid;
    max-width: 1184px;
    gap: 16px;
    margin: 92px auto 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        margin: 92px 48px 0 48px;
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        margin: 88px 24px 0 24px;
        gap: 16px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        margin: 64px 16px 0 16px;
        gap: 12px;
    }
}