.place__image {
    max-width: 460px;
    object-fit: contain;
    display: block;
}

@media screen and (max-width: 1200px) {
    .place__image {
        max-width: calc(440px + (460 - 440) * ((100vw - 1024px) / (1200 - 1024)));
    }
}

@media screen and (max-width: 1024px) {
    .place__image {
        max-width: calc(340px + (440 - 340) * ((100vw - 768px) / (1024 - 768)));
    }
}

@media screen and (max-width: 425px) {
    .place__image {
        max-width: 425px;
    }
}

@media screen and (max-width: 375px) {
    .place__image {
        max-width: 375px;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        max-width: 320px;
    }
}

