.header {
    max-width: 1280px;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-self: center;
    padding: 0 48px 0 48px;
  }

@media screen and (max-width: 768px) {
    .header {
      padding: 0;
      max-width: 720px;
    }
}

@media screen and (max-width: 700px) {
    .header {
      padding: 0 16px 0 16px;
    }
}