.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFF;
    text-align: right;
    align-self: center;
    margin: 0;
}

@media screen and (max-width: 720px) {
    .footer__copyright {
        line-height: 14px;
        margin-top: 48px;
        align-self: flex-start;
    }
}
