.intro {
    max-width: 690px;
    padding: 92px 294px 0 0;
    margin: auto;
}

@media screen and (max-width: 1024px) {
    .intro {
        padding-left: 48px;
        padding-right: 48px;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 88px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 288px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 64px;
    }
}