.cover {
    margin: 92px auto 92px auto;
    max-width: 1184px;
}

@media screen and (max-width: 768px) {
    .cover {
      margin: 90px auto 88px auto;
    }
}
  
@media screen and (max-width: 320px) {
    .cover {
      margin: 66px auto 64px auto;
    }
}