.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    max-width: 560px;
    text-align: center;
    z-index: 2;
  }

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (768 - 320)));
    line-height: calc(35px + (76 - 35) * ((100vw - 320px) / (768 - 320)));
  }
  
}

  @media screen and (max-width: 320px) {
    .cover__title {
      font-size: 32px;
      line-height: 35px;
    }
  }

  
